fastapi
uvicorn[standard]
pandas
numpy
scikit-learn
shap
joblib
xgboost
lightgbm
imbalanced-learn
langchain
langchain-community
langchain-openai
supabase
python-dotenv
requests
python-multipart
openpyxl
jinja2
